

.m-25{
    margin:25px;
}

.m-t-25{
    margin-top:25px;
}

.l-h-2{
    line-height: 2em;
}

.f-b-500{
    font-weight:500;
    text-shadow: 0 0 black;
}

.cflexbox{
    display:flex;
    flex-direction: column;
    padding: 50px;
}
